# Pandas的数据结构

In [7]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt
#pandas 专门用于数据分析  
#数据分析三剑客 numpy series matplotlib
'''
    大量的库和一些标志的数据模型 提供了高效的操作大型数据
    集所需的工具
    excel打开一个500mb的文件 时间很长 可能打不开
    但是可以通过pandas读取数据 功能强大 
    2g的csv文件也能读取 
    
    pandas有两个非常重要的类
    Series和DataFrame
'''

'\n    大量的库和一些标志的数据模型 提供了高效的操作大型数据\n    集所需的工具\n    excel打开一个500mb的文件 时间很长 可能打不开\n    但是可以通过pandas读取数据 功能强大 \n    2g的csv文件也能读取 \n    \n    pandas有两个非常重要的类\n    Series和DataFrame\n'

# 1.Series

In [13]:
#series类似于一位数组 类似ndarray
#value 一组数据(ndarray类型)
#index 相关数据索引
nd = np.array([1,2,3,7,0])
nd[2]
#series是针对于ndarray一个升级 你想把它弄成什么就是什么

#series的创建 两种方式

#列表或者numpy的数组创建 
s = Series(nd,index = ['瓦里安','奥蕾莉亚','吉安娜','卡德加','泰兰德'])#前面自动把索引输出了 设置index指定索引
# s.index = list('abcde')
s

瓦里安     1
奥蕾莉亚    2
吉安娜     3
卡德加     7
泰兰德     0
dtype: int64

In [16]:
# s = Series(np.random.randint(0,10,size = (5,2)),index=['瓦里安','奥蕾莉亚','吉安娜','卡德加','泰兰德'])
#Data must be 1-dimensional 数据必须是一维的 存数据必须是一维的  
#Series中存放的数据必须是一维的
# s

特别的，由ndarray创建的是引用 不是副本 

对Series元素改变也会改变原来的ndarray对象中的元素 list没有这种情况

In [17]:
#可以给列表 也可以给numpy的数组

#字典来进行创建
s2 = Series({'a':1,'b':2,'c':4,'d':8})
s2

a    1
b    2
c    4
d    8
dtype: int64

### series的索引和切片

1.使用index的元素进行索引

2.使用.loc[] 推荐

In [20]:
'''
显式索引 
1.使用index的元素进行索引
2.使用.loc[] 推荐 loc不能给找这样的对象 索引值是abcde... 0不在这个里面

隐式索引
1.使用整数作为索引值  可以直接使用数字操作 
2.使用iloc[]  iloc[0]
'''
s = Series(np.random.random(10),index = list('abcdefghij'))
#loc是location的意思 通过位置来获取数据
s.loc['c']

#切片
s.loc['a':'d']

a    0.282047
b    0.849435
c    0.130016
d    0.161140
dtype: float64

In [24]:
#Series有 shape size index valuess

display(s.shape,s.size,s.index,s.values)
#Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

#series的value值 就是一个ndarray 包含关系 升级的关系
#有了索引之后更加方便 

#array([0.28204703, 0.84943451, 0.13001584, 0.16113977, 0.09226553,0.08018545, 0.81938077, 0.66660819, 0.9677688 , 0.44091923])

#Series是对ndarray的升级 dataframe是对series的升级  前者包含后者

(10,)

10

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

array([0.28204703, 0.84943451, 0.13001584, 0.16113977, 0.09226553,
       0.08018545, 0.81938077, 0.66660819, 0.9677688 , 0.44091923])

In [30]:
# df = pd.read_csv()
#dateFrame里面 取出来的是series  可以用type()查看

#索引没有对应值 出现NaN not a number的情况 
s = Series([1,2,None,np.nan,False],index = list('abcde'))
s#c d是NaN e是False

#虽然nan None结果都是NaN 但是 None == np.nan不相等


display(type(np.nan),type(None))

#s里面的值是可以相加的 NaN和False被当做0
s.sum()

#numpy里面的ndarray是不能加这样的数据的

float

NoneType

3

In [33]:
#pd.isnull() pd.notnull()   结果为布尔值
display(s.isnull(),s.notnull())
s3 = s.notnull()

a    False
b    False
c     True
d     True
e    False
dtype: bool

a     True
b     True
c    False
d    False
e     True
dtype: bool

In [35]:
#s和s3都是series 
display(s[s3])#如果为真就取出来 false就不管

#Series对象本身及实例都有一个name属性
#s是没有name的
s.name = 'abc123'
s#会发现下面 Name: abc123, dtype: object
#作用 区分  在dataFrame中用于区分 在DateFrame 是列名

a        1
b        2
e    False
dtype: object

a        1
b        2
c     None
d      NaN
e    False
Name: abc123, dtype: object

In [37]:
display(s+10)#NaN没办法进行增加

#如果想让NaN进行加法运算 调用add函数
display(s.add(100,fill_value=0))#fill_value 替换掉NaN

a     11
b     12
c    NaN
d    NaN
e     10
Name: abc123, dtype: object

a    101
b    102
c    100
d    100
e    100
Name: abc123, dtype: object

### Series之间的运算

In [39]:
s1 = Series([2,4,7,9],index = [0,1,2,3])
s2 = Series([1,2,3,4],index = [2,3,4,5])

s1+s2#只有2和3相加 任何数和NaN运算结果都是NaN
#有索引值 强制加上索引值 
#如果像要保留所有的index 需要函数 +是 python中的加号
s1.add(s2,fill_value=0)#然后就能运算了

#和None相加会报错

0     NaN
1     NaN
2     8.0
3    11.0
4     NaN
5     NaN
dtype: float64